body {
	background-color: #f0f0f0;
}
#wrapper {
	width:500px;
	margin: 0 auto;
}
.albums, .photos {
	background-color:#ffffff;
	border:1px solid #cccccc;
	margin-bottom:5px;
	padding:5px;
}
.photo-gallery {
	background-color:#f0f0f0;
	width: 430px;
	padding:5px;
	margin:5px auto;
}
.thumbnail {
	background-color:#ffffff;
	width:120px;
	margin:5px;
	padding:5px;
	float:left;
}
.thumbnail img {
	width: 110px;
	height: 150px;
	margin:5px;
}
.clear {
	clear: both;
}